*{
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    background-attachment: fixed;
    margin: auto;
}
::-webkit-scrollbar {
    display: none;
}
div {
    margin:auto;
    height: 100%;
    width: 100%;
}

.classy {
    user-select: none; 
    position: fixed;
    top: 8px;
    left: 46%;
    color:lightgrey;
    font-size: 25px;
    font-family: Helvetica;
    z-index: 2;
    margin:auto;
    font: bold; 
}


#container{
    transform: translateY(-100%);
    position: fixed;
    background-color: grey;
    z-index: 1;
    top: 0;
    left: 0;
    width:100vw;
    height: 45px;
}

.container2{
    position: fixed;
    background-color: black;
    z-index: 1;
    top: 45px;
    left: 0;
    width:100vw;
    height: 1px;
}

.nav {
    left: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    font-family: Verdana;
    top: 0px;
}

a {
    text-decoration: none;
}

li {
    position: inherit;
    float: left;
    top: 0px;
}

ul {
    position: relative;
    margin:0;
    padding: 0;
    top: 0px;
}

.burger{
    display: none;
}

button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    color:lightgrey;
    margin: 0;
    text-align: center; 
    padding-top: 15px;
    padding-bottom: 14px;
    padding-right: 15px;
    padding-left: 15px;
}

.burger div{
    position: relative;
    height: 3px;
    width: 20px;
    left:80vw;
    top: 13px;
    background-color: lightgrey;
    margin: 4px;
    margin-top: 0px;
    cursor: pointer;
    
}


button:hover {
    color: black;
    background-color: lightgrey;
}

@media screen and (max-width:1008px){
.classy {
    left: 40%;
}
}

@media screen and (max-width:708px){
    .classy {
        left: 30%;
    }
    .nav{
        display: none;
    }
    .burger {
        display: block;
    }
}

.aboutsection {
    padding:0px;
    margin:0px;
    padding-top: 135vh;
    font-size: 15px;
    padding-bottom: .5vh;
    padding-left: 25.5vw;  
    font-family: Verdana;
    width: 160px;
    padding-bottom: 2.5vw;
}

.aboutcontent {
    font-size: 20px;
    height: auto;
    width: auto;
    padding-right: 25vw;
    padding-left: 25vw;
    margin: auto;
    font-family: Verdana;
}

.hellothing {
    background-color: black;
    height: 25px;
    width: 4px;
}

.style {
    background-color: black;
    height:25px;
    width: 3px;
}

.transition {
    margin-top:50vh;
    background-color: lightgrey;
    height: 1px;
    width: 100vw;
}

.sectiontwo {
    background-color: #0096FF;
    width: 100vw;
    height: 100vh;
}

.images {
    top:0;
    position: absolute;
    filter: brightness(50%) blur(3px);
    height:100vh;
    width: 100vw;
}

.side1 {
    position: fixed;
    left:0;
    height: 100vh;
    width: .1vw;
    background-color: #0096FF;
}

.side2 {
    position: fixed;
    right: 0;
    height: 100vh;
    width: .1vw;
    background-color: #0096FF;
}

#portfolio1 {
    position: absolute;
    font-size: 5vw;
    font-weight: bold;
    left: 40vw;
    top:50vh;
    font-family: "Roboto Condensed", sans-serif;
    color: lightgrey;
    animation: 1s ease-out 0s 1 fadein;
}

#nametitle {
    position: absolute;
    font-size: 5vw;
    font-weight: bold;
    left: 32vw;
    top:35vh;
    font-family: "Roboto Condensed", sans-serif;
    color: lightgrey;
    animation: fadein linear 1s;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

@keyframes fadein {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }

    50% {
        opacity: 30%;
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
