*{
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgrey;
    background-attachment: fixed;
    margin: auto;
}
::-webkit-scrollbar {
    display: none;
}
div {
    margin:auto;
    height: 100%;
    width: 100%;
}

.john {
    width: 100vw;
    height: auto;
    z-index: 0;
}


.classy {
    user-select: none; 
    position: absolute;
    top: 8px;
    left: 46%;
    color:lightgrey;
    font-size: 25px;
    font-family: Helvetica;
    z-index: 2;
    margin:auto;
    font: bold; 
}


.container{
    background-color: grey;
    z-index: 1;
    top: 0;
    left: 0;
    width:100vw;
    height: 45px;
}

.container2{
    background-color: black;
    z-index: 1;
    top: 5vh;
    left: 0;
    width:100vw;
    height: 1px;
}

.nav {
    left: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    font-family: Verdana;
    top: 0px;
}

a {
    text-decoration: none;
}

li {
    position: inherit;
    float: left;
    top: 0px;
}

ul {
    position: relative;
    margin:0;
    padding: 0;
    top: 0px;
}

.burger{
    display: none;
}

button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    color:lightgrey;
    margin: 0;
    text-align: center; 
    padding-top: 15px;
    padding-bottom: 14px;
    padding-right: 15px;
    padding-left: 15px;
}

.burger div{
    position: relative;
    height: 3px;
    width: 20px;
    left:80vw;
    top: 13px;
    background-color: lightgrey;
    margin: 4px;
    margin-top: 0px;
    cursor: pointer;
    
}


button:hover {
    color: black;
    background-color: lightgrey;
}

@media screen and (max-width:1008px){
.classy {
    left: 40%;
}
}

@media screen and (max-width:708px){
    .classy {
        left: 30%;
    }
    .nav{
        display: none;
    }
    .burger {
        display: block;
    }
}

.aboutsection {
    padding:0px;
    margin:0px;
    padding-top: 10vh;
    font-size: 25px;
    padding-bottom: .5vh;
    padding-left: 3vw;  
    font-family: Verdana;
}

.aboutsection p{
    padding:0px;
    margin: 0, 0 ,0 ,0;
    height: auto;
    width: 200px;
}

.aboutcontent {
    font-size: 25px;
    height: auto;
    width: auto;
    padding-right: 5vw;
    padding-left: 20vw;
    margin: auto;
    font-family: Verdana;
}

.hellothing {
    background-color: black;
    height: 25px;
    width: 4px;
}
